
<div class="registration-container">
    <h2>Employee Registration for Login</h2>
    <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
      <div>
        <label for="emp_id">Employee ID</label>
        <input type="text" id="emp_id" name="emp_id" [(ngModel)]="password.emp_id" required />
      </div>
  
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" (input)="validatePassword()" required />
      </div>
  
      <div *ngIf = "passwordError" style="color: red;">
        {{passwordError}}
</div>

<div>
    <label for="comfirmPassword">Confirm Password</label>
    <input type="password" id="comfirmPassword" name="comfirmPassword" [(ngModel)]="this.comfirmPassword" (input)="registerUser()" required />
  </div>

  <div *ngIf = "registrationMessage" style="color: red;">
    {{registrationMessage}}
</div>




      <div>
        <label for="id_card">ID CARD</label>
        <input type="number" id="id_card" name="id_card" [(ngModel)]="password.id_card" required />
      </div>
 
  
      <button type="submit" [disabled]="!registrationForm.form.valid">Register</button>
      <br>
      
    </form> 
   
    <div *ngIf="message" class="message">
      {{ message }}
    </div>
    <br>
    <p>After Registration , Log In For Submitting Your Details</p>
  </div>